/*
Estilos generales
*/
@font-face {
    font-family: monacoBold;
    src: url(assets/monaco.ttf);
}
@font-face {
    font-family: monaco;
    src: url(assets/monaco.ttf);
    font-weight: bold;
}

body {
    margin: unset;
    display: flex;
    justify-content: center;
}

#gradient-1{
    z-index: -1;
    background-blend-mode: color-dodge;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(10deg, #e962e2, transparent);
    background-repeat: no-repeat;
    background-size: cover;
}

#gradient-2{
    z-index: -1;
    background-blend-mode: color-dodge;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(121deg, #8ae88e, transparent);
    background-repeat: no-repeat;
    background-size: cover;
}

body * {
    font-family: monaco;

}
.app-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
}

.app-container > app {
    border-style: inset;
    border-color: rgba(172, 255, 47, 0.637);
    padding: 2%;
    background-color: rgb(230, 161, 226);
}

app > h3 {
    text-align: center;
    font-family: monacoBold;
    text-shadow: 0.06em 0em 0.061em greenyellow
}

/* 
    Estilos semaforo
*/

.carcasa-semaforo {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    padding: 2px;
    width: 60px;
}

.carcasa-semaforo > div {
    position: relative;
    margin: 3px;
    width:  50px;
    height: 50px;
    border-radius: 100%;
}

.apagado {
    background-color: darkslategray;
}
.rojo {
    background-color: darkred;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 5px 25px darkred;
}
.ambar {
    background-color: chocolate;
    box-shadow: 0px 5px 25px chocolate;
}
.verde {
    background-color: rgb(99, 255, 47);
    box-shadow: 0px 5px 25px rgb(99, 255, 47);
}

/*
    Lista
*/

.lista {
    list-style: none;
}

.elemento {
    margin: 2px;
}

.lista button {
    border-width: 1px;
    border-radius: 20%;
    border-color: darkred;
    background-color: unset;
    color: darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*
    Slider
*/

.slider-container {
    display: flex;
    flex-direction: row;
}

.slider-image {
    position: relative;
    width: 200px;
    padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

.slider-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/*
   Cards
*/

#cardsApp {
    width: 25em;
}
.cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.cards *{
    font-family: 'Courier New', Courier, monospace;
    text-align-last: center;
}

.card { 
    width: 6em;
    background-color: darkgrey;
    margin: 0.32em;
    padding: 0.4em;
    border-radius: 10%;
    border-style: ridge;
    box-shadow: 0.1em 0.05em 0.3em rgb(25, 26, 25);
}

.card-image {
    position: relative;
    padding-top: 100%; /* 16:9 aspect ratio (9 / 16 * 100%) */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    border-radius: 10%;
}

.card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-text {
    overflow-wrap: break-word;
}

.card-emoji {
    top: 0;
    left: 0;
    position: absolute;
    font-size:  1.3em;
    z-index: 1;
    text-shadow: 0.05em 0.01em 0.1em rgb(4, 59, 2);
}

.emoji-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.emoji-menu > li {
    list-style: none;    
}

.emoji-menu button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.4em;
    border-radius: 100%;
}

.emoji-menu .emoji-icon{
    filter: grayscale()
}

.emoji-menu .emoji-icon.selected {
    filter: unset;
}

.emoji-menu .emoji-icon:hover{
    transform: translateY(-0.1em);
}

.emoji-menu .shadow {
    position: absolute;
    content:"";
    display: block;
    width: 1.4em;
    height: 0.3em;
    border-radius: 100%;
    filter: opacity(0.8);
    transform: translateY(0.1em);
    background-color: rgb(9, 17, 9);
    filter: opacity(0.8) blur(1.3px);
    
}

.err {
    position: relative;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    width: 20em;
}

#errors {
    position: relative;
    height: 1.6em;
    width: 3em;
    text-align: center;
    font-size: xx-large;
    margin-left: 35%;
}